@import url(global.css);

.dev-title {
  padding-top: 200px;
  font-size: var(--xl);
  color: rgb(47, 47, 127);
}

.dev-name {
  color: rgb(47, 47, 127);
  font-size: var(--sm);
}

.developers-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 100px;
}

.dev-item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.dev-item:hover .dev-socials {
  opacity: 1;
}

.dev-item:hover .dev-img {
  scale: 1.2;
  filter: blur(5px);
}

.dev-img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.dev-socials {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.417);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 99;
}

.dev-socials div {
  display: flex;
  gap: 20px;
}

.dev-socials div a {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
}

.dev-socials div a:hover {
  opacity: 0.5;
}

.dev-socials div a img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .developers-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .developers-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .dev-item:hover .dev-img {
    scale: 1.3;
  }
}

@media screen and (min-width: 1200px) {
  .developers-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
