@import url(global.css);

.footer {
  background-color: var(--primary);
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footer-logo {
  font-size: var(--lg);
  font-weight: 600;
  text-align: center;
  color: rgb(255, 255, 255);
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-item p {
  color: rgb(175, 175, 175);
  font-weight: 600;
}

.footer-item ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 15px;
}

.footer-item ul li:hover {
  opacity: 0.5;
}

.footer-item li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: auto;
  }

  .footer-logo {
    color: var(--primary);
  }

  .footer {
    background-color: rgb(66, 66, 66);
  }
}

@media screen and (min-width: 1200px) {
}
