:root {
  /* colors */
  --primary: rgb(2, 126, 188);
  --bg: white;
  --text: black;
  --secondary-light: white;
  --secondary-dark: black;

  /* fonts */
  --xxxl: 6rem;
  --xxl: 3.5rem;
  --xl: 3rem;
  --lg: 2.5rem;
  --md: 1.5rem;
  --sm: 1.1rem;
}

* {
  font-family: "Montserrat", system-ui;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  background-color: var(--bg);
}

.text {
  color: var(--text);
}

@media screen and (min-width: 992px) {
  :root {
    /* colors */
    --primary: rgba(125, 216, 216, 0.849);
    --bg: rgb(25, 25, 25);
    --text: white;
  }

  * {
    font-family: "Poppins", system-ui;
  }
}
