:root {
  /* fonts */
  --font-scale: 1;
  --3xl: calc(var(--font-scale) * 6rem);
  --2xl: calc(var(--font-scale) * 3.5rem);
  --xl: calc(var(--font-scale) * 3rem);
  --lg: calc(var(--font-scale) * 2.5rem);
  --md: calc(var(--font-scale) * 1.5rem);
  --sm: calc(var(--font-scale) * 1.1rem);
}

* {
  font-family: 'Poppins', system-ui;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
