.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.hamburger span:nth-child(2) {
  width: 90%;
}

.hamburger span:nth-child(3) {
  width: 80%;
}

.hamburger:hover span:nth-child(1) {
  width: 80%;
}

.hamburger:hover span:nth-child(2) {
  width: 50%;
}

.hamburger:hover span:nth-child(3) {
  width: 100%;
}

.hamburger:active + ul {
  transform: translateX(0);
}

.logo {
  width: 100px;
  padding-block: 10px;
}

.logo img {
  width: 100%;
  object-fit: cover;
}

.header ul {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  padding: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  margin-left: auto;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.824);
  min-height: 100vh;
  transition: all 0.5s ease;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .nav-links {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
  width: 100%;
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
  width: 100%;
}

.header ul li {
  cursor: pointer;
  position: relative;
}

.header-white ul li a {
  color: white !important;
}

.header-white ul li::after {
  background-color: white !important;
}

.header ul li::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.5s ease;
  content: "";
}

.header ul li:hover::after {
  scale: 1;
}

.header ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .header ul {
    transform: translateX(0);
    position: unset;
    width: unset;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    min-height: unset;
    gap: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (min-width: 992px) {
  .header ul {
    gap: 70px;
  }
  .header ul li a {
    font-size: var(--sm);
  }

  .logo {
    width: 150px;
  }
}

@media screen and (min-width: 1200px) {
}
