@import url(global.css);

.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 500px;
  bottom: 0;
  z-index: 999;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.sdg-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

.sdg-title h2 {
  font-size: var(--md);
}
.sdg-title h1 {
  font-size: var(--3xl);
}

.hero-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75% 50%;
}

.two-image-section {
  display: grid;
}

.two-image-section div div {
  width: 100%;
  height: 100%;
}

.two-image-section div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.two-image-section div {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.two-image-section div:hover img {
  transform: scale(1.2);
  z-index: 999;
}

.deep-ocean {
  background-color: black;
  position: relative;
}

.fish {
  width: 100%;
  height: 100%;
}

.fish img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overview-container {
  margin-top: 200px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  gap: 20px;
  position: relative;
}

.over-title {
  font-size: var(--xl);
}

.deep-ocean::before {
  position: absolute;
  content: "";
  bottom: -400px;
  height: 400px;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  left: 0;
  z-index: 2;
}

.overview-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview-container div p {
  text-indent: 20px;
  text-align: justify;
  font-size: var(--sm);
  letter-spacing: 1.5px;
}

.learn-more {
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: var(--sm);
}

.stats {
  padding-top: 100px;
  width: 100%;
  background: url(../assests/coral-bg-img.png) no-repeat center/cover;
}

.stats-grid {
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 50px;
  position: relative;
  margin-top: 150px;
}

.stats-grid::before {
  content: "Title goes here";
  font-size: var(--2xl);
  font-weight: bold;
  position: absolute;
  top: -180px;
}

.stats-item {
  background-color: rgba(75, 75, 75, 0.658);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
}

.stats-item p {
  font-size: var(--sm);
}

.stats-item div {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.lm2 {
  margin-top: 20px;
}

.advo-section {
  width: 100%;
}

.advovates-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 50px;
  height: 100%;
  flex-wrap: wrap;
}

.advo-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  border-radius: 5px;
}

.advo-reveal {
  padding: 20px;
  background-color: rgba(199, 199, 199, 0.295);
}

.advo-item a {
  width: 100%;
  height: 300px;
}

.advo-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.advo-title {
  font-size: var(--2xl);
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .advovates-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .over-title {
    font-size: var(--2xl);
  }

  .overview-container {
    display: grid;
    grid-template-areas: "one  two" "three three";
    margin-bottom: 200px;
  }

  .overview-container div p:not(:first-child) {
    text-indent: 0;
  }

  .overview-container div:nth-child(1) {
    grid-area: one;
  }

  .overview-container div:nth-child(2) {
    grid-area: two;
  }

  .overview-container div:nth-child(3) {
    margin-top: 20px;
    grid-area: three;
    gap: 0;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }

  .stats-con {
    display: flex;
    flex-direction: column;
  }

  .lm2 {
    width: 20%;
    align-self: flex-end;
    margin-top: 50px;
  }

  .advo-section {
    height: 100vh;
    padding: 0;
    margin: 100px 0;
  }

  .advovates-grid {
    display: flex;
    gap: 0;
    height: 100%;
    flex-wrap: wrap;
  }

  .advo-item {
    border-radius: 0;
  }

  .advo-item a {
    height: 100%;
  }

  .advo-item:hover a img {
    filter: none;
    scale: 1.1;
  }

  .advo-item:hover {
    flex: 5;
  }

  .advo-item:hover .advo-reveal {
    scale: 1;
  }

  .advo-item a img {
    filter: grayscale();
  }

  .advo-reveal {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 20px;
    text-align: center;
    pointer-events: none;
    scale: 0;
    transition: all 0.3s ease;
  }
}

@media screen and (min-width: 1200px) {
}
