@import url(global.css);

.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 500px;
  bottom: 0;
  z-index: 999;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.sdg-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

.sdg-title h2 {
  font-size: var(--md);
}
.sdg-title h1 {
  font-size: var(--xxxl);
}

.hero-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75% 50%;
}

.deep-ocean {
  background-color: black;
  position: relative;
}

.fish {
  width: 100%;
  height: 100%;
}

.fish img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overview-container {
  margin-top: 200px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  gap: 20px;
  position: relative;
}

.over-title {
  font-size: var(--xl);
}

.deep-ocean::before {
  position: absolute;
  content: "";
  bottom: -400px;
  height: 400px;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  left: 0;
  z-index: 2;
}

.overview-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview-container div p {
  text-indent: 20px;
  text-align: justify;
  font-size: var(--sm);
  letter-spacing: 1.5px;
}

.learn-more {
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  transition: 0.5s;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: var(--sm);
  color: white;
  cursor: pointer;
}

.learn-more a {
  text-decoration: none;
}

.stats {
  padding-top: 100px;
  position: relative;
  width: 100%;
  background: url(../assets/coral-bg-img.png) no-repeat center/cover;
}

.stats-grid {
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 50px;
  position: relative;
  margin-top: 150px;
}

.stats-grid::before {
  content: "Statistical Philippine Informations";
  font-size: var(--xl);
  font-weight: bold;
  position: absolute;
  top: -240px;
  color: var(--primary);
}

.stats-item {
  background-color: rgba(75, 75, 75, 0.658);
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.stats-item:hover a {
  text-decoration: underline;
}

.stats-item a {
  font-size: var(--sm);
  text-decoration: none;
  color: white;
}

.stats-item div {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.slogan {
  width: 100%;
  background-color: var(--primary);
  color: white;
  font-size: var(--md);
  text-align: center;
}

.advo-section {
  width: 100%;
}

.advocates-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 50px;
  height: 100%;
  flex-wrap: wrap;
}

.advo-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  border-radius: 5px;
}

.advo-reveal {
  padding: 20px;
  background-color: rgba(199, 199, 199, 0.295);
}

.advo-item a {
  width: 100%;
  height: 300px;
}

.advo-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.advo-title {
  font-size: var(--xxl);
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary);
}

.contact-main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 50px;
}

.contact-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.contact-title h1 {
  font-size: var(--lg);
  color: var(--primary);
}

.contact-title p {
  color: rgb(144, 144, 144);
}

.contact-contents {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}

.contact-info div {
  position: relative;
}

.contact-info div img {
  position: absolute;
  top: -25px;
  left: 0;
  width: 20px;
}

.contact-info div h1 {
  font-size: var(--sm);
  color: var(--text);
}

.contact-info div p {
  font-size: 0.9em;
  color: rgb(144, 144, 144);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form div input,
#message {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.contact-form div input::placeholder,
#message::placeholder {
  color: lightgray;
}

.submit {
  background-color: var(--primary);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  align-self: flex-start;
  width: 30%;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

#message {
  resize: none;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .advocates-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .stats-grid::before {
    font-size: var(--xxl);
    top: -170px;
  }
}

@media screen and (min-width: 992px) {
  .over-title {
    font-size: var(--xxl);
  }

  .overview-container {
    display: grid;
    grid-template-areas: "one  two" "three three";
    margin-bottom: 200px;
  }

  .overview-container div p:not(:first-child) {
    text-indent: 0;
  }

  .overview-container div:nth-child(1) {
    grid-area: one;
  }

  .overview-container div:nth-child(2) {
    grid-area: two;
  }

  .overview-container div:nth-child(3) {
    margin-top: 20px;
    grid-area: three;
    gap: 0;
  }

  .learn-more:hover {
    opacity: 0.5;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }

  .stats-con {
    display: flex;
    flex-direction: column;
  }

  .lm2 {
    width: 20%;
    align-self: flex-end;
    margin-top: 50px;
  }

  .advo-section {
    height: 100vh;
    padding: 0;
    margin: 100px 0;
  }

  .advocates-grid {
    display: flex;
    gap: 0;
    height: 100%;
    flex-wrap: wrap;
  }

  .advo-item {
    border-radius: 0;
  }

  .advo-item a {
    height: 100%;
  }

  .advo-item:hover a img {
    filter: none;
    scale: 1.1;
  }

  .advo-item:hover {
    flex: 5;
  }

  .advo-item:hover .advo-reveal {
    opacity: 1;
  }

  .advo-item a img {
    filter: grayscale();
  }

  .advo-reveal {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 20px;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .contact-contents {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info {
    flex-direction: column;
    justify-content: unset;
    flex-wrap: nowrap;
    row-gap: 60px;
    margin-left: 30px;
  }

  .contact-form {
    width: 50%;
  }

  .contact-info div img {
    position: absolute;
    top: 0px;
    left: -30px;
    width: 20px;
  }

  .contact-form div input::placeholder,
  #message::placeholder {
    color: black;
  }

  label {
    color: white;
  }
}

@media screen and (min-width: 1200px) {
}
