@import url(global.css);

.issues-container {
  display: flex;
  flex-direction: column;
}

.issues-container hr {
  width: 80%;
  margin: auto;
  height: 2px;
}

.issues-title {
  font-size: var(--lg);
  font-weight: 600;
  text-align: center;
}

.issues-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
}

.issues-item {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  position: relative;
  border: 2px solid rgb(46, 160, 247);
  border-radius: 25px;
  margin-bottom: 40px;
}

.issues-icon {
  width: 100%;
  text-align: center;
}

.issues-icon img {
  width: 30%;
  object-fit: cover;
}

.solution-icon {
  width: 100%;
  text-align: center;
  opacity: 0;
}

.solution-icon img {
  width: 30%;
  object-fit: cover;
}

.issues-content {
  width: 100%;;
  justify-content: space-between;
}

.issues-content img {
  opacity: 0;
}

.issues-problem {
  width: 100%;
  text-align: center;
  padding: 0px 20px;
}

.issues-problem h1 {
  font-size: var(--md);
}

.issues-solution {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.issues-solution h1 {
  font-size: var(--md);
}

.issues-item:hover {
  height: 500px;
  transition: all 0.5s ease;
}

.issues-item:hover .solution-icon{
  opacity: 100%;
  transition: all 0.5s ease;
}

.issues-item:hover .issues-solution {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .issues-container hr {
    width: 50%;
    margin: auto;
    height: 2px;
  }

  .issues-grid {
    grid-template-columns: 1fr 1fr;
  }

  .issues-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 55%;
  }

  .issues-icon,
  .issues-content {
    width: auto; 
  }

  .issues-item:hover {
    height: auto; 
  }
}

@media screen and (min-width: 1200px) {
}
