@import url(global.css);

.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 500px;
  bottom: 0;
  z-index: 999;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.sdg-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

.sdg-title h2 {
  font-size: var(--md);
}
.sdg-title h1 {
  font-size: var(--3xl);
}

.hero-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75% 50%;
}

.two-image-section {
  display: grid;
}

.two-image-section div div {
  width: 100%;
  height: 100%;
}

.two-image-section div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.two-image-section div {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.two-image-section div:hover img {
  transform: scale(1.2);
  z-index: 999;
}

.deep-ocean {
  background-color: black;
}

.fish {
  width: 100%;
  height: 100%;
}

.fish img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overview-container {
  margin-top: 200px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  gap: 20px;
}

.overview-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview-container div:nth-child(1) button {
  display: none;
}

.overview-container div p {
  text-indent: 20px;
  text-align: justify;
}

.learn-more {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  background-color: var(--primary);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .overview-container {
    display: grid;
    grid-template-areas: "one  two" "three three";
  }

  .overview-container + button {
    display: none;
  }

  .overview-container div:nth-child(1) {
    grid-area: one;
  }
  .overview-container div:nth-child(1) button {
    display: block;
    margin-bottom: 0;
  }

  .overview-container div:nth-child(2) {
    grid-area: two;
  }

  .overview-container div:nth-child(3) {
    margin-top: 20px;
    grid-area: three;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
}
