@import url(global.css);

.news h1,
.news a {
  color: var(--primary);
}

.news img {
  transition: all 0.5s ease;
}

.news img:hover {
  transform: scale(1.05);
}

.latest-news-container h1 {
  font-size: var(--xxl);
  margin-top: 200px;
  margin-bottom: 20px;
}

.latest-news-container hr {
  margin-top: 10px;
}

.latest-news-top {
  display: flex;
  flex-direction: column;
}

.latest-news-top-img-container {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.latest-news-top-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-news-title {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.latest-news-title h1,
.latest-news-title a {
  font-size: var(--lg);
  margin-top: 0;
  margin-bottom: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.latest-news-title p {
  color: rgb(167, 167, 167);
}

.read-more {
  margin-top: 20px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary);
  width: 100%;
  align-self: flex-end;
  transition: all 0.3s ease;
  cursor: pointer;
  color: white;
}

.read-more:hover {
  opacity: 0.5;
}

.latest-new-text {
  margin-top: 50px;
  text-align: justify;
  font-size: var(--sm);
}

.latest-new-text p {
  text-indent: 20px;
}

.news-grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.news-grid li {
  width: 100%;
  overflow: hidden;
}

.older-news-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.older-news-img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}

.older-news-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.older-news-text-content p:first-child {
  color: rgb(166, 166, 166);
}

.older-news-text-content p:last-child {
  text-align: justify;
  margin-top: 30px;
}

.older-news-text-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 5px;
}

.older-news-text-content a {
  font-weight: bold;
  font-size: var(--md);
  text-decoration: none;
  transition: all 0.3s ease;
}

.read-more a {
  text-decoration: none;
  color: var(--text);
  font-size: 1em;
  font-weight: unset;
}

.latest-news-title a:hover,
.older-news-text-content a:hover {
  opacity: 0.5;
}

.read-more a:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .latest-news-top-img-container {
    height: 400px;
  }

  .news-grid {
    gap: 50px;
  }

  .older-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .older-news-img {
    width: 100%;
    height: 100%;
  }

  .latest-new-text a button {
    width: 50%;
    max-width: 200px;
  }

  .older-news-text-content a:last-child {
    width: 50%;
    max-width: 200px;
    margin-top: auto;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1200px) {
}
