.center-title {
    text-align: center;      
    color: #2283BB;     
    display: block;     
    font-family: 'Poppins';
    font-size: 64px;
  }

  .hr {
    border: none; 
    height: 2px;
    width: 850px;
    background-color: #2283BB; 
    margin: 30px auto;
  }

  .image-position {
    max-width: 838px; 
    height: 898px; 
    height: auto;
    width: 100%; 
  }
  .image-position2 {
 
    float: left;
    width: 100%; 
    height: auto; 
    max-width: 818px; 
    margin-bottom: 10px;
  }
  .image-position3 {
  
    width: 928px;
    height: 430px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .image-position3-container {
    display: flex;
    align-items: flex-start;
    margin-top: 250px; 
    gap: 40px;
    transition: all 0.5s ease;
    
  }
  .latest-news-section {
    position: relative;
}


.overview-container {
  display: flex; 
  align-items: flex-start;
  flex-direction: row;
  gap: 20px; 
}

.image2-text {
  width: 828px; 
  margin-top: 10px;
}

.image2-text h3 {
  margin-bottom: 5px;
}

.image2-text p {
  font-size: 16px; 
  line-height: 1.5; 
}

.title1{
  color:#2283BB;     
  display: block;     
  font-family: 'Poppins';
  font-size: 44px;
}

@media (max-width: 768px) {
  .image-position,
  .image-position2,
  .image-position3  {
    width: 100%; 
    height: auto;
  }

  .overview-container {
    flex-direction: column;
    gap: 10px; 
  }

  .image2-text {
    width: 100%; 
    padding: 0 10px;
  }
  .image3-text {
    width: 100%; 
    font-family: 'Poppins';
    font-size: 16px; 
    line-height: 1.5; 
    text-align: left;
  }

  .image-position3-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 15px; 
    gap: 10px; 
  }

  .title1 {
    font-size: 32px;
  }

  .image2-text p {
    font-size: 14px; 
  }
  @media (max-width: 1024px) {
    .image-position3-container {
        margin-top: 150px;
    }
}

}