
.slogan-image img {
  position: relative;
  flex-direction: grid;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  max-width: 100%; 
  margin: 0; 
  padding: 0; 
}

.footer {
    text-align: center; 
    padding: 10px 0; 
    color: #333; 
  }